@import './base.css';



a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 0.7);
  transition: 0.4s;

}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {

    display: flex;
    flex-direction: column;


    /* place-items: center; */

  }


  /* #app.home-class{
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 6fr;
  } */
}


/* 左侧导航栏 */
.max-h-custom {
  max-height: calc(100vh - 17rem);
}

.demo-pagination-block {
  margin-top: 10px;
  background-color: red;
  max-width: 100%;
}